body
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background-color: #181818;
}

.block-container
{
    position: relative;
    width: 120px;
    height: 120px;
    margin: 32px;
    transition: 250ms;
    perspective: 500px;
}

.block-container .btn-back
{
    position: absolute;
    inset: 0;
    z-index: -1;
    width: inherit;
    height: inherit;
    border-radius: 32px;
    box-shadow: 16px 0 40px #e4e4e4;
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: bottom right;
    transform: rotateZ(15deg);
    will-change: transform;
}

/* back color */
.btn-back-1
{
    background: linear-gradient(135deg, #4682eb -20%, #01beff 120%);
}

.btn-back-2
{
    background: linear-gradient(135deg, #5c46eb -20%, #013fff 120%);
}

.btn-back-3
{
    background: linear-gradient(135deg, #ebe046, );
}