body
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background-color: #181818;
}

.block-container
{
    position: relative;
    width: 120px;
    height: 120px;
    margin: 32px;
    transition: 250ms;
    perspective: 500px;
}

.block-container .btn-back
{
    position: absolute;
    inset: 0;
    z-index: -1;
    width: inherit;
    height: inherit;
    border-radius: 32px;
    box-shadow: 16px 0 40px #e4e4e4;
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: bottom right;
    transform: rotateZ(15deg);
    will-change: transform;
}

/* back color */
.btn-back-1
{
    background: linear-gradient(135deg, #e046eb -20%, #d501ff 120%);
}

.btn-back-2
{
    background: linear-gradient(135deg, #4bdfe7 -20%, #01f2ff 120%);
}

.btn-back-3
{
    background: linear-gradient(135deg, #eb46a1 -20%, #ff0173 120%);
}

/* frame of the button start */
.btn-front
{
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: #ffffff33;
    width: inherit;
    height: inherit;
    border-radius: 32px;
    backdrop-filter: blur(20px);
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: top left;
    overflow: hidden;
}

.btn-front svg.frame
{
    width: inherit;
    height: inherit;
}

.btn-front svg.frame rect
{
    width: inherit;
    height: inherit;
    fill: none;
    stroke-width: 4;
}

/* icon position */
.btn-front svg.icon
{
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
}

/* frame of the button end */

/* hover effect */
.block-container:hover .btn-back
{
    transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover .btn-front
{
    transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* hover effect end */

/* making resposnive */
@media (max-width: 600px)
{
    body
    {
        flex-direction: column;
    }
}